<nav class="col-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to 'Вопросы', '/questions?type=actual', class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'Архив', '/questions?type=archive', class: "nav-link" %>
    </li>
  </ul>
</nav>