<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Добрый день!</h1>
<p>
  Ваш вопрос:<br>
  <%= @question.question %>
</p>
<p>
  Ответ:<br>
  <%= @question.answer %>
</p>
<p>Спасибо за ваше обращение!</p>
</body>
</html>